/*-----------------------------------------------------
    Générique
-----------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*-----------------------------------------------------
    Component
-----------------------------------------------------*/
body{
  font-family: "dosis";
}

.wrapper{
  max-width: 1280px;
  margin: auto auto;

}

h1{
  font-weight: bold;
  font-size: 40px;

}

h2{
  font-size: 50px;
  font-weight: bold;
  color: #FFF;
  margin: 0px;
}

h3{
  font-size: 36px;
  font-weight: bold;
  color: #0E5EA1;
}

h4{
  font-size: 24px;
  font-weight: bold;
}

p{
  font-family: "Roboto";
  font-size: 18px;
}


/*-----------------------------------------------------
    Éléments
-----------------------------------------------------*/


/*Navigateur*/

.grille{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
 .logo{
  display: flex;
  gap: 30px;
 }

ul{
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

a:hover{
  width: 77px;
  height: 28px;
  background-color: #0E5EA1;
  border-radius: 5px;
  padding: 4px;
  color: #FFF;
}


/*hero*/

.hero{
  background-image: url(../images/section.hero.jpg);
  background-size: 100% 450px;
  background-repeat: no-repeat;


  padding: 136px 520px;
}

.contenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-size: 642px;
  border-radius: 10px;

  color: #FFF;

padding: 40px;
}
.hero p{
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}


/*bouton*/

.bouton{
  max-width: 148px;
  background-color: #0E5EA1;
  border-radius: 5px;

  background-color: #B7B7B7;
  
  padding: 5px 20px;
}

.bouton:hover{
  background-color: #0E5EA1;
  color: #FFF;
}

.bouton p{
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

footer{
  display: flex;
  flex-direction: inherit;
  background-color: black;
  color: #FFF;
  align-items: center;
  justify-content: center;
  height: 72px;
}

footer p{
  font-size: 16px;
  font-weight: lighter;
}